---
import type { Microblog } from "~libs/microblog";
import DynamicTimestamp from "~components/microblog/dynamic-timestamp";

interface Props {
   post: Microblog;
   inFeed?: boolean;
}

const { post, inFeed } = Astro.props;

const [year, month, day] = post.date_published
   .split("T")[0]
   .split("-")
   .map(Number);
---

<style>
   header a {
      @apply text-black/[.72];
      @apply no-underline hover:underline;
   }
</style>

<article>
   {
      inFeed ?
         <header class="font-serif italic text-xs mb-4">
            <a href={`/microblog/${year}/${month}/${day}/${post.id}`}>
               <Fragment>
                  Posted{" "}
                  <time datetime={post.date_published}>
                     <DynamicTimestamp date={post.date_published} client:load />
                  </time>
               </Fragment>
               {post.date_modified &&
                  post.categories?.includes("show_updated") && (
                     <Fragment>
                        & updated
                        <DynamicTimestamp
                           date={post.date_modified}
                           client:load
                        />
                     </Fragment>
                  )}
            </a>
         </header>
      :  <header class="font-serif italic text-black/[.72] mb-4">
            Microblog post on{" "}
            <time datetime={post.date_published}>
               {new Date(post.date_published).toLocaleString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                  hour: "2-digit",
                  minute: "2-digit",
                  hour12: false,
               })}
            </time>
         </header>
   }
   <Fragment set:html={post.content_html} />
</article>
