---
export const prerender = false;

import { SEO } from "astro-seo";
import Layout from "~layouts/base.astro";
import BackLink from "~components/back-link";
import "~styles/text.css";

import type { MicroblogArchive } from "~libs/microblog";
import { getArchive } from "~libs/microblog";
import Feed from "~components/microblog/feed.astro";

const page = Number(Astro.url.searchParams.get("page"));

let archive: MicroblogArchive;
let error: Error | undefined = undefined;
try {
   archive = await getArchive(page);
} catch (e) {
   error = e as Error;
   console.error(error);

   archive = {
      page: 0,
      pages: 0,
      total_items: 0,
      items_per_page: 0,
      next_page: null,
      previous_page: null,
      items: [],
   };
}

const getPageNumber = (path: string) => {
   const match = path.match(/\d+/);
   if (!match && path === "/api/archive/list.json") return 1;
   return match ? Number(match[0]) : null;
};
---

<style>
   #pagination-links > a {
      @apply no-underline;
   }

   #pagination-links > a:hover {
      @apply underline;
   }
</style>

<Layout>
   <SEO
      slot="seo"
      title="My microblog archive"
      description="I find ephemerality to be ideal for microblog content, and thus, the archive."
      noindex={true}
   />
   <header slot="header" class="leading-none">
      <BackLink href="/microblog" text="microblog" client:load />
   </header>
   <div class="flex flex-col gap-7">
      <div>
         <h1 class="font-serif text-xl font-[354]">My microblog archive</h1>
         <p class="my-2">
            I find ephemerality ideal for the microblog format, and so, after a
            day, posts get archived here.
         </p>
      </div>
      <Feed posts={archive.items} error={error} />

      <div
         id="reply-area-buttons"
         class="pt-3 text-right font-serif text-xs italic text-black/[.54]"
      >
         <span>Page {archive.page} of {archive.pages}</span>
         <div id="pagination-links" class="pt-1">
            {
               archive.previous_page && (
                  <a
                     class="mr-2"
                     href={
                        getPageNumber(archive.previous_page) === 1 ?
                           "/microblog/archive"
                        :  `/microblog/archive?page=${getPageNumber(archive.previous_page)}`
                     }
                     aria-label="Previous page in the archive"
                  >
                     &larr;
                  </a>
               )
            }
            {
               archive.next_page && (
                  <a
                     href={`/microblog/archive?page=${getPageNumber(archive.next_page)}`}
                     aria-label="Next page in the archive"
                  >
                     &rarr;
                  </a>
               )
            }
         </div>
      </div>
   </div>
</Layout>
