---
export const prerender = false;

import { SEO } from "astro-seo";
import Layout from "~layouts/base.astro";
import BackLink from "~components/back-link";
import "~styles/text.css";

import type { MicroblogArchive } from "~libs/microblog";
import { getArchive } from "~libs/microblog";
import Feed from "~components/microblog/feed.astro";

const page = Number(Astro.url.searchParams.get("page"));

let archive: MicroblogArchive;
let error: Error | undefined = undefined;
try {
   archive = await getArchive(page);
} catch (e) {
   error = e as Error;
   console.error(error);

   archive = {
      page: 0,
      pages: 0,
      total_items: 0,
      items_per_page: 0,
      next_page: null,
      previous_page: null,
      items: [],
   };
}

const getPageNumber = (path: string) => {
   const match = path.match(/\d+/);
   if (!match && path === "/api/archive/list.json") return 1;
   return match ? Number(match[0]) : null;
};
---

<script src="../../libs/mb-alt-alert.ts"></script>

<style>
   #pagination-links > a {
      @apply no-underline;
   }

   #pagination-links > a:hover {
      @apply underline;
   }
</style>

<Layout>
   <SEO
      slot="seo"
      title="My microblog"
      description="My place to share quick updates and musings in a tweet-like fashion."
   />

   <header slot="header" class="leading-none">
      {
         page > 0 ?
            <BackLink href="/microblog" text="microblog (p. 1)" client:load />
         :  <BackLink href="/" text="index" client:load />
      }
   </header>
   <div class="flex flex-col gap-7">
      <div>
         <h1 class="font-serif text-xl font-[354]">
            My microblog{
               page > 0 && (
                  <span class="text-[calc(1em-3px)] italic text-black/[0.54] font-[300]">
                     {" "}
                     (p. {page})
                  </span>
               )
            }
         </h1>
         <p class="my-2">
            Welcome to my microblog — my place to share quick updates and musings
            in a tweet-like fashion. Externally, my microblog is available as a <a
               href="https://microblog.vandor.sx/feed.json"
               target="_blank">JSON feed</a
            > and via <a
               href="https://micro.blog/jade?remote_follow=1"
               target="_blank">ActivityPub</a
            >.
         </p>

         <p class="text-black/[.72] my-2">
            <i>
               My microblog is proudly powered by <a href="https://micro.blog"
                  >Micro.blog</a
               >.
            </i>
         </p>
      </div>

      <Feed posts={archive.items} error={error} />

      <div class="pt-3 text-right font-serif text-xs italic text-black/[.54]">
         <span>Page {archive.page} of {archive.pages}</span>
         <div id="pagination-links" class="pt-1">
            {
               archive.previous_page && (
                  <a
                     class="mr-2"
                     href={
                        getPageNumber(archive.previous_page) === 1 ? "/microblog"
                        :  `/microblog?page=${getPageNumber(archive.previous_page)}`
                     }
                     aria-label="Previous page"
                  >
                     &larr;
                  </a>
               )
            }
            {
               archive.next_page && (
                  <a
                     href={`/microblog?page=${getPageNumber(archive.next_page)}`}
                     aria-label="Next page"
                  >
                     &rarr;
                  </a>
               )
            }
         </div>
      </div>
   </div>
</Layout>
