---
import Layout from "./base.astro";
import { SEO } from "astro-seo";
import BackLink from "~components/back-link";
import "~styles/text.css";

import type { MarkdownLayoutProps } from "astro";

type BaseProps = {
   title: string;
   description: string;
   backlink?: string;
   backtext?: string;
   largerGap?: boolean;
};

type Props = MarkdownLayoutProps<BaseProps> | BaseProps;

const props = Astro.props;
const pageData = "frontmatter" in props ? props.frontmatter : props;
---

<Layout>
   <SEO slot="seo" title={pageData.title} description={pageData.description} />

   {
      pageData.backlink && pageData.backtext && (
         <header slot="header" class="leading-none">
            <BackLink
               href={pageData.backlink}
               text={pageData.backtext}
               client:load
            />
         </header>
      )
   }

   <div
      class:list={[
         "flex flex-col",
         { "gap-3.5": !pageData.largerGap },
         { "gap-7": pageData.largerGap },
      ]}
   >
      <div>
         <h1 class="font-serif text-xl font-[354]">{pageData.title}</h1>
         <slot name="intro" />
      </div>
      <div>
         <slot />
      </div>
   </div>
</Layout>
